name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Baixar código
        uses: actions/checkout@v4

      - name: Login no GitHub Container Registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build da imagem
        run: docker build -t ghcr.io/${{ github.repository }}/hello-devops:latest ./app

      - name: Publicar imagem
        run: docker push ghcr.io/${{ github.repository }}/hello-devops:latest
